<h1>Add Micropost</h1>

<div class="row">
  <div class="span6">
  <% if @errormessage %>
    There was an error: <%= @errormessage %>
  <% end %>

    <%= form_for(@micropost) do |f| %>

      <div>
      <%= f.label :content %>
      <%= f.text_area :content, size: "30x10" %>
      </div>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
